In [2]:
import pandas as pd

df = pd.read_csv("catalog-2.csv")
df.head()

,Department,Course Number,Description,Terms Offered,Equivalent Courses,Prerequisites,Instructors
0,ANTH,10100,Classically defined as the 'science of humanki...,Unspecified,Unspecified,Designed as a first course in Anthropology,Staff
1,ANTH,10107,The crisis of nature and technology is at the ...,Unspecified,"CEGU 20107, HIPS 20107",Unspecified,Ashima Mittal
2,ANTH,12800,Whose land are we on? What does it mean to be ...,Winter,"RDIN 12300, CRES 12800, CHST 12300, HIST 17800",Unspecified,Teresa Montoya and Matthew Kruer
3,ANTH,20006,This course approaches bodies as points of ins...,Unspecified,"GNSE 24006, RLST 26006",Unspecified,Mareike Winchell
4,ANTH,20537,"In America, the Black Panther Party and its le...",Spring,"RLST 26674, GLST 26674, RDIN 26674",Unspecified,Andrew Kunze

In [3]:
# Q1

len(df)

4944

In [5]:
# Q2

copy = df.copy()


copy['Course'] = copy['Department']+ pd.Series(copy['Course Number'].apply(lambda x: " "+str(x)))

copy

unique_classes = pd.DataFrame(columns=df.columns)

course_tracker = []
df_indices = []
for index, row in copy.iterrows():
    if row['Course'] not in course_tracker:
        df_indices.append(index)
        course_tracker.append(row['Course'])
        equiv_courses = [val.strip() for val in row['Equivalent Courses'].split(',')]
        course_tracker += equiv_courses


df_new = copy.loc[df_indices]
len(df_new)

3447

In [11]:
# Q3

department_counts = df_new.groupby('Department').size().reset_index(name='Number of Courses')
department_counts.to_csv('department_counts.csv', index=False)

print("Department counts saved to department_counts.csv")

dept_counts = pd.read_csv("department_counts.csv")
dept_counts[dept_counts['Number of Courses']==dept_counts['Number of Courses'].max()]

Department counts saved to department_counts.csv

   Department  Number of Courses
14       BIOS                137

In [7]:
# Q4

parsed_terms = pd.DataFrame(columns=['Autumn', 'Winter', 'Spring'])

for index, row in df_new.iterrows():
    autumn_count = 0
    winter_count = 0
    spring_count = 0
    
    terms = row['Terms Offered']
    
    if 'Autumn' in terms:
        autumn_count += 1
    if 'Winter' in terms:
        winter_count += 1
    if 'Spring' in terms:
        spring_count += 1
    
    parsed_terms.loc[index] = [autumn_count, winter_count, spring_count]

term_counts = parsed_terms.sum()

print("Number of courses offered in each term:")
print("Autumn:", term_counts['Autumn'])
print("Winter:", term_counts['Winter'])
print("Spring:", term_counts['Spring'])

Number of courses offered in each term:
Autumn: 866
Winter: 789
Spring: 898